* { box-sizing: border-box }

body {
    margin: 0;
    padding: 0;
    background: #eff0f4;
}

body.reverse {
    background: #3c4451;
    color: #d1d6dc;
}

body.reverse h1, 
body.reverse h2, 
body.reverse h3, 
body.reverse h4, 
body.reverse h5, 
body.reverse h6 {
  color: #d1d6dc;
}

@font-face { 
	font-family: "SourceHanSansCN"; 
	src: url(../fonts/SourceHanSansCN-Regular.eot); 
	src: local(" "), 
		url(../fonts/SourceHanSansCN-Regular.otf) format("opentype"), 
		url(../fonts/SourceHanSansCN-Regular.woff) format("woff");

}

#slide {
    margin: 0 auto;
    text-align: center;
    padding: 1vh;
    font-family: "SourceHanSansCN";
    overflow: hidden;
}

body.reverse #slide {
    border-color: #333;
}

img {
    width: 100%;
    box-shadow: 1px 1px 10px #999;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding-left: 4vh;
    color: #3c4451;
    /*-webkit-text-stroke: 2px #fff;*/
    font-weight: 900;
    text-align: center;
    font-weight: 100;
    margin-bottom: 24px;
}

blockquote {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 46vh;
    line-height: 46vh;
}

h2 {
    font-size: 36vh;
    line-height: 38vh;
}

h3 {
    font-size: 28vh;
    line-height: 30vh;
}

h4 {
    font-size: 20vh;
    line-height: 22vh;
}

h5 {
    font-size: 16vh;
    line-height: 18vh;
}

h6 {
    font-size: 13vh;
    line-height: 15vh;
}

ul, ol {
    padding: 0 16vh;
    margin: 0;
    text-align: left;
    font-size: 8vh;
    line-height: 12vh;
}

ol {
    font-size: 8vh;
    line-height: 18vh;
}

li {
    list-style-type: disc;
    font-weight: 300;
    line-height: 1.8;
    color:#61646f;
}

p {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-size: 5vh;
    color:#61646f;
}

strong {
    color: #b11d21;
}

em {
    font-style: normal;
    color:#61646f;
}

a {
    color: #0000DD;
    text-decoration: underline;
}

code {
   text-align: left;
   font-size: 3vh;
   overflow-y: scroll;
}
